.git
.gitignore
.gitattributes
.cursor
.vscode
.idea

inspector
inspector.exe
*.out
*.log
coverage*

*.db
*.sqlite
*.sqlite3

config.yaml
config.test.yaml
config.test2.yaml

tmp/
dist/
bin/
node_modules/
